{% extends 'base.html' %}

{% block title %}PetrolServer{% endblock %}

{% block balance %}
    <p>Кабинет компании {{ company.title }}</p>
    <span>Ваш баланс: <a href="/balance/{{ company.id }}">{{ balance|floatformat:2 }}</a></span>
{% endblock %}


{% block date_form %}
    <p> Выбрать период: </p>
    <form action="" method="GET">
        {{ form.start_period }}
        {{ form.end_period }}
        <input type="submit" value="Показать">
    </form>
{% endblock %}


{% block list_trsnsactions %}

    <table class="table">
        <thead>
            <tr>
                <th> Дата </th>
                <th> Номер карты </th>
                <th> Адрес АЗС </th>
                <th> Топливо </th>
                <th> Количество </th>
                <th> Цена </th>
                <th> Сумма </th>
            </tr>
        </thead>
        <tbody>
            {% for row in transactions %}
                <tr>
                    <td>{{ row.made_at|date:"d.m.Y" }}</td>
                    <td>{{ row.card }}</td>
                    <td>{{ row.petrol_station.address }}</td>
                    <td>{{ row.fuel }}</td>
                    <td>{{ row.volume }}</td>
                    <td>{{ row.price }}</td>
                    <td>{{ row.amount|floatformat:2 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block logout %}
    <form method="GET" action="/logout/">
        <input class="btn btn-default" type="submit" value="Выход">
    </form>
{% endblock %}