{% extends 'base.html' %}

{% block title %}PetrolServer{% endblock %}

{% block balance %}
    <p>Кабинет компании {{ company.title }}</p>
    <span>Ваш баланс: <a href="/balance/{{ company.id }}">{{ balance|floatformat:2 }}</a></span>
{% endblock %}


{% block date_form %}
    <p> Выбрать период: </p>
    <form action="" method="GET">
        {{ form.start_period }}
        {{ form.end_period }}
        <input type="submit" value="Показать">
    </form>
{% endblock %}


{% block list_trsnsactions %}

    <table class="table">
        {% for card_transaction in card_transactions %}
        <tbody>
            <tr>
                <th>Карта {{ card_transaction.0 }}</th>
            </tr>
            <tr>
                <th>Дата</th>
                <th>Адрес АЗС</th>
                <th>Топливо</th>
                <th>Количество</th>
                <th>Цена</th>
                <th>Сумма</th>
            </tr>

            {% for transaction in card_transaction.1 %}
            <tr>
                <td>{{ transaction.made_at|date:"d.m.Y" }}</td>
                <td>{{ transaction.petrol_station }}</td>
                <td>{{ transaction.fuel }}</td>
                <td>{{ transaction.volume }}</td>
                <td>{{ transaction.price }}</td>
                <td>{{ transaction.amount|floatformat:2 }}</td>
            </tr>
            {% endfor %}
            <tr>
                <th>Всего литров: {{ card_transaction.2.amount }}</th>

                <th>Всего грн: {{ card_transaction.3.total|floatformat:2 }}</th>
            </tr>

        </tbody>
        {% endfor %}
    </table>
{% endblock %}

{% block logout %}
    <form method="GET" action="/logout/">
        <input class="btn btn-default" type="submit" value="Выход">
    </form>
{% endblock %}