{% extends 'base.html' %}

{% block title %}PetrolServer{% endblock %}

{% load summary_extras %}

{% block content %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-md-8">
            <p>Кабинет компании {{ company.title }}</p>
            <span>Ваш баланс: <a href="/balance/{{ company.id }}">{{ balance|floatformat:2 }}</a></span>
        </div>
        <div class="col-md-4">
            <div id="brent" style="background: #333333; width:186px; height:61px; border: 1x solid #ccc; color:#84057A; text-decoration:none; text-align:left; top; overflow: hidden; font-style:normal; font-variant:normal; font-weight:normal; font-size:9px; font-family:Verdana, sans-serif;">
                <a href="http://www.forexpf.ru/" title="Цены на нефть" target="_blank" style="line-height:14px;color: #FF6600;text-decoration:none;padding-left: 50px;">Цена на нефть</a>
                <br>
                <a href="http://www.forexpf.ru/chart/brent/" title="Brent" target="_blank" style="line-height:15px;color: #CCCCCC;text-decoration:none;padding-left: 33px;">Brent</a>
                <a href="http://www.forexpf.ru/chart/lightsweet/" title="Light Sweet" target="_blank" style="line-height:15px;color:#ccc;text-decoration:none;padding-left: 63px;">Light</a>
            </div>
        </div>
        <script src="http://www.forexpf.ru/_informer_/brent_.php"></script>
    </div>

    <p> Выбрать период: </p>
    <form action="" method="GET">
        с:{{ form.start_period }}
        до:{{ form.end_period }}
        <input type="submit" value="Показать">
    </form>

    {% include 'summary_data.html' %}

    <table class="table">
        {% for card_transaction in card_transactions %}
        <tbody>
            <tr>
                <th>Карта {{ card_transaction.0 }}</th>
            </tr>
            <tr>
                <th>Дата</th>
                <th>Адрес АЗС</th>
                <th>Услуга</th>
                <th>Количество</th>
                <th>Цена со скидкой</th>
                <th>Стоимость на ТО</th>
                <th>Скидка</th>
                <th>Стоимость со скидкой</th>
            </tr>

            {% for transaction in card_transaction.1 %}
            <tr>
                <td>{{ transaction.made_at|date:"d.m.Y" }}</td>
                <td>{{ transaction.petrol_station }}</td>
                <td>{{ transaction.fuel }}</td>
                <td>{{ transaction.volume }}</td>
                <td>{{ transaction.price|minus:transaction.discount|floatformat:2 }}</td>
                <td>{{ transaction.amount|floatformat:2 }}</td>
                <td>{{ transaction.volume|multipl:transaction.discount|floatformat:2 }}</td>
                <td>{{ transaction.price|minus:transaction.discount|multipl:transaction.volume|floatformat:2 }}</td>
            </tr>
            {% endfor %}
            <tr>
                <th>Итого:</th>
                <th></th>
                <th></th>
                <th>{{ card_transaction.2|floatformat:2 }}</th>
                <th></th>
                <th>{{ card_transaction.3|floatformat:2 }}</th>
                <th>{{ card_transaction.4|floatformat:2 }}</th>
                <th>{{ card_transaction.5|floatformat:2 }}</th>
            </tr>

        </tbody>
        {% endfor %}
    </table>

    <form method="GET" action="/logout/">
        <input class="btn btn-default" type="submit" value="Выход">
    </form>
{% endblock %}