{% extends 'base.html' %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th> Дата </th>
                <th> Сумма пополнения </th>
                <th> Баланс после пополнения </th>
            </tr>
        </thead>
        <tbody>
            {% for row in payments %}
                <tr>
                    <td>{{ row.date|date:"d.m.Y" }}</td>
                    <td>{{ row.amount }}</td>
                    <td>{{ row.balance|floatformat:2 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <form method="GET" action="/">
        <input class="btn btn-info" type="submit" value="Назад">
    </form>

{% endblock %}
