{% extends 'base.html' %}

{% block content %}
    <p> Введите период:</p>
    <form action="" method="GET">
        с:{{ form.start_period }}
        до:{{ form.end_period }}
        <input type="submit" value="Показать">
    </form>

    <table class="table">
        <tbody>
        <tr>
            <th>Компания</th>
            <th>Реализация (л.)</th>
            <th>Реализация (грн.)</th>
            <th>Баланс на начало периода (грн.)</th>
            <th>Баланс на конец периода (грн.)</th>
        </tr>
    {% for company_data in companies_data %}
        <tr>
            <td>{{ company_data.2 }}</td>
            <td>{{ company_data.3|floatformat:2 }}</td>
            <td>{{ company_data.4|floatformat:2 }}</td>
            <td>{{ company_data.0|floatformat:2 }}</td>
            <td>{{ company_data.1|floatformat:2 }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>

    <form method="GET" action="/">
        <input class="btn btn-info" type="submit" value="Назад">
    </form>

{% endblock %}